body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1, h2 {
  color: #ffffff;
  margin: 10px 0;
  text-align: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  margin: 20px auto;
  list-style-type: none;
}

li {
  background: #1e1e1e;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 300px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.3s;
  box-shadow: 0px 0px 1px 1px #3d53fb;
}

li:hover {
  background-color: #252525;
}

h3 {
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 1.5em;
  text-align: center;
}

p {
  margin: 5px 0px 5px ;
  font-size: 1.2em;
  text-align: center;
}

p strong {
  color: #e0e0e0;
  font-weight: bold;
  font-size: 1.1em;
}

img {
  margin-top: 10px;
  width: 100%;
  max-width: 200px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.02);
}



form {
  background: #1e1e1e;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0px 0px 1px 1px #3d53fb;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 31%;
}

input {
  width: 95%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #333;
  color: #e0e0e0;
}

input::placeholder {
  color: #777;
}
.modal-overlay {
  position: fixed;
  margin-right: 300px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.5);  */
  z-index: 1000; 
}
.form-group {
  margin-bottom: 20px;
}
.input-field {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #3d53fb;;
  border-radius: 4px;
  box-sizing: border-box;
}
.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.submit-btn {
  padding: 10px 15px;
  background-color: #3d53fb; 
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}
.close-btn {
  padding: 10px 15px;
  background-color: #f44336; 
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}
.genre-selector {
  display: flex;
  flex-wrap: wrap;
  gap: 5px; 
  justify-content: center;
  margin-top: 10px; 
}
.genre-btn {
  background-color: #333; 
  border: 2px solid #444; 
  border-radius: 4px; 
  color: #e0e0e0; 
  font-size: 14px; 
  padding: 6px 12px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s; 
  outline: none;
}

.genre-btn.selected {
  background-color: #4caf50; 
  color: white;
  border-color: #388e3c; 
  transform: scale(1.02); 
}
.genre-btn:hover {
  background-color: #444; 
  border-color: #555; 
}
.genre-btn:focus {
  border-color: #4caf50;
  outline: none;
}

div {
  margin: 5px 0;
}
input[type="text"] {
  padding: 6px; 
  margin-right: 8px; 
  width: 150px; 
  font-size: 14px; 
  border: 1px solid #444; 
  background-color: #333;
  color: #e0e0e0;
}
button {
  padding: 6px 10px; 
  background-color:#3d53fb;
  color: white;
  border: none;
  border-radius: 3px; 
  cursor: pointer;
  font-size: 14px; 
}

button:hover {
  background-color: #45a049;
}


ul {
  list-style-type: none;
  padding-left: 0;
  margin: 10px 0; 
}

li {
  margin: 3px 0; 
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

button {
  background-color: #3d53fb;
  color: white;
  margin: auto;
  margin-bottom:10px;
  padding: 6px 40px; 
  font-size: 14px;
  border-radius: 3px;  
  cursor: pointer;
  transition: background-color 0.2s; 
}

button:hover {
  background-color: #45a049; 
}


button:hover {
  background-color: #3d53fb81; 
}
